<div class="git-wiki-tools">
    
    {% if site.use_prose_io and site.github.hostname != "gitlab.com" %}
    <br>
    Prose.io:
    <span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{ site.wiki_folder }}">Add
            new</a></span>
    <span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/edit/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{page.path | escape}}">Edit</a></span>
    {% if site.blog_feature %}
    <span class="tools-element"><a target="_blank" href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}_posts/">Add
            new post</a></span>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
